<h1>{{title}}</h1>

<a href="/auth">Get Token</a>

<h1 id="foo"></h1>

<div id="request" style="display: none;">Login</div>


<script>
  var url = window.location
  var token = (url.hash || '').replace('#', '');

  var makeRequest = function() {
    var r = new XMLHttpRequest();
    r.open('POST', '/login');
    r.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
    r.onreadystatechange = function () {
      if (r.readyState !== 4) {
        return;
      } else if (r.status === 200){
        var res = r.responseText
        alert(res);
      } else {
        alert('err')
      }
    };
    r.send(JSON.stringify({token: token}));
  };

  if (token) {
    token = token.split('=')[1];
    var el = document.getElementById('foo');
    el.innerHTML = token;
    var selection = window.getSelection();
    var range = document.createRange();
    range.selectNodeContents(el);
    selection.removeAllRanges();
    selection.addRange(range);

    var loginEl = document.getElementById('request');
    loginEl.style.display = 'block';
    loginEl.addEventListener('click', makeRequest);
  }
</script>
